@media screen and (max-width: 1525px) {
  .navbar {
    margin: 0 45px 35px 45px;
  }
}

@media screen and (max-width: 1430px) {
  .icons {
    display: none;
  }
}

@media screen and (max-width: 1220px) {
  .bigback {
    width: 372px;
    height: 372px;
  }

  .bigback img {
    width: 100%;
  }

  /* .bignew {
    max-width: 464.5px;
    height: 300.1px;
  }

  .smallnew1 {
    max-width: 237px;
    height: 193px;
  }

  .smallnew2 {
    max-width: 237px;
    height: 193px;
  }

  .newtopl {
    max-width: 237px;
    height: 224.1px;
  }

  .newtopr {
    max-width: 237px;
    height: 224.1px;
  }

  .newbottoml {
    max-width: 237px;
    height: 267px;
  }

  .newbottomr {
    max-width: 237px;
    height: 267px;
  }

  .saaral {
    max-width: 445.5px;
  }

  .saaralm {
    max-width: 218px;
  } */

  .past {
    justify-items: center;
    height: 1250px;
  }

  .middle-right {
    padding-left: 0;
    margin-left: 0;
  }
}

/* tab */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bignew {
    max-width: 464.5px;
    height: 300.1px;
  }

  .smallnew1 {
    max-width: 237px;
    height: 193px;
  }

  .smallnew2 {
    max-width: 237px;
    height: 193px;
  }

  .newtopl {
    max-width: 237px;
    height: 224.1px;
  }

  .newtopr {
    max-width: 237px;
    height: 224.1px;
  }

  .newbottoml {
    max-width: 237px;
    height: 267px;
  }

  .newbottomr {
    max-width: 237px;
    height: 267px;
  }

  .saaral {
    max-width: 445.5px;
  }

  .saaralm {
    max-width: 218px;
  }

  .past {
    justify-items: center;
    height: 1250px;
  }

  .middle-left {
    padding-left: 35px;
  }

  .middle-right {
    margin-left: 35px;
    padding-left: 0;
    height: 404px;
    width: 100%;
    overflow: hidden;
  }

  .mr3r {
    padding-left: 0;
  }

  .footerbottom {
    width: 92vw;
  }
}

@media screen and (max-width: 1000px) {
  .fb {
    font-size: 30px;
  }

  .tw {
    font-size: 30px;
  }

  .ig {
    font-size: 30px;
  }
  .in {
    font-size: 30px;
  }
  .yt {
    font-size: 30px;
  }
  .cl {
    font-size: 30px;
  }
}

@media screen and (max-width: 930px) {
  .headerboss {
    width: 930px;
    height: 42px;
  }
}

@media screen and (max-width: 830px) {
  .header-2 h4 {
    display: none;
  }

  .comml {
    float: none;
  }

  .commr {
    float: none;
  }

  .medee {
    max-width: 700px;
  }
}
